<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Clima</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <p>Proveedores de datos mapbox.com y darksky.net</p>
        <img class="portrait" src="/img/EDA.JPG" alt="">
        <h3>Edmundo Domínguez Agurcia</h3>
        <p>Consultor en TI, desarrollador web.</p>        
        <p>edagurcia@gmail.com</p>
    </div>

    {{>footer}}
</body>
</html>